*.crc
/datasets
/outputs
/logs
*.pyc
__pycache__/
.env
*.ipynb_checkpoints
.vscode/
.DS_Store
.idea/
*.log
*.bak
*.swp
*.swo
*.tmp
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.pkl
*.h5
*.ckpt
*.pt
*.onnx
*json